body{
    font-family: 'Blocktastic', sans-serif;
 
}
.nav{
    position: fixed;
    top:   0;
    left:  0;
    right: 0;
    background: #5372f2;
    z-index: 99999;
}
.wrap{
    width: 80%;
    margin: 0 auto;
}
.title{
    display: inline-block;
    float:left;
    line-height: 50px;
}
.menu{
    display: inline-block;
    float: right;

}
.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu li{
    display: inline-block;
}
.menu ul li a {
    padding: 0 30px;
    display: block;
    line-height: 50px;
    text-decoration: none;
    color: #000000;
}
.menu :hover{
    color: #ffffff;
    -webkit-text-stroke: 0.5px black;
}
.titles{
    position:absolute;
    top:4%;
    left: 2%;

}